venv/
venv_win/
venv_linux/
.venv/
env/
__pycache__/
*.pyc
dist/
build/
Tempfile/
Capture/
build_tmp
Release
Capture/
installer_output/
/.vs
build_deb/
# Ignore deb packages in Installer
Installer/*.deb
