# General

Time_out|10|

# Shortcut
quit|Shift+Ctrl+Q|

transClipboard|Alt+Q|

alwaysTop|Alt+A|

OCROffline|Alt+W|

OCROnline|Alt+I|

Large|Alt+Z|

Expand|Alt+E|

F5Dic|Alt+R|

Show|Alt+S|

#  KeyAPI

# OCR

SpaceOCR_apiKey|a4218642a888957|


Oxford_appID|e28abe4e|

Oxford_appKey|a49ac0dbc33be732616139ce323aba48|

